@import "../../styles/uiBase.scss";

.field {
  border: 2px solid rgb(203, 203, 203);
  margin-bottom: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 30rem;
  padding: 1rem 0.5rem 0rem 0.5rem;
}
